* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
.outerCircle {
  width: 500px;
  height: 500px;
  background: red;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.innerCircle {
  width: 380px;
  height: 380px;
  background: white;
  border-radius: 50%;
  /* display: grid;
  place-items: center; */
  position: relative;
}
.line {
  position: absolute;
  width: 4px;
  height: 45%;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.hour {
  width: 10px;
  height: 30%;
}
.minute {
  width: 5px;
  height: 45%;
  transform-origin: top;
  transform: translate(-50%, 0) rotateZ(30deg);
}
.second {
  width: 2px;
  height: 45%;
  transform-origin: top;
  transform: translate(-50%, 0) rotateZ(-45deg);
}
